@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');


$white : #FFFFFF;
$whiteSmoke : #F6F6F6;
$moccasin : #F5E5D9;
$raisinBlack : #272727;
$regBlack : #000000;

$playfair :  'Playfair Display', serif;
$PT : 'PT Sans', sans-serif;

